private/**
!private/.gitkeep
!private/ssh/
private/ssh/**
!private/ssh/.gitkeep
local/**
!local/.gitkeep
!local/ssh/
local/ssh/**
!local/ssh/.gitkeep
vim/backup
vim/bundle
vim/session
tmux/plugins/**
!tmux/plugins/install-tpm-here.txt
npm-debug.log
.DS_Store
