<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>user.agent.launchd</string>
    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>-c</string>
      <string>export LAUNCHD_PLISTS=$HOME/.dotfiles/tag-osx/launchd; /usr/local/bin/launchdn; /usr/local/bin/launchup</string>
    </array>
    <key>QueueDirectories</key>
    <array>
      <string>$HOME/.dotfiles/tag-osx/launchd</string>
    </array>
  </dict>
</plist>
